*.o
*.dd
.Rhistory
convert
embed
embed_auction
recode_data
prep_events.txt
vocabulary.txt
all_tags.txt
tag_count.txt
reversed_eigenwords.en
rectangle_data.txt
embedded_data.txt
auction_data
auction_run
auction_run_mult
	