*.o
*.dd
.Rhistory
convert
embed_auction
embed_random_auction
recode_data
embed_auction
build_y_and_selector
filtered_stream
prep_events.txt
prepositions.txt
vocabulary.txt
all_tags.txt
tag_count.txt
reversed_eigenwords.en
eigenwords.en
eigenwords.dean
rectangle_data.tsv
embedded_data.txt
auction_data
saved_results
auction_run
auction_temp
auction_test
auction_test_data
fits.Rdata
rect_test.tsv
tags_test.txt
