*.o
*.dd
.Rhistory
build_y_and_selector
convert
encode_response
embed_auction
embed_random_auction
embed_auction
filter_sentences
filtered_stream
recode_data
nlp_auction
prep_events.txt
prepositions.txt
vocabulary.txt
all_tags.txt
tag_count.txt
reversed_eigenwords.en
eigenwords.en
eigenwords.dean
eigenwords.txt
rectangle_data.tsv
embedded_data.txt
auction_data
saved_results
auction_run
auction_temp*
auction_test
auction_test_data
fits.Rdata
rect_test.tsv
tags_test.txt
